:root {
    --light-color: #cce5ff;
    --dark-color: #0073e6;
    --top-light-color: #66a3ff;
    --top-dark-color: #003d80;
    --footer-color: #00244b;
}

* {
    margin: 0px;
    padding: 0px;
}

.topLightTheme {
    background-color: var(--top-light-color);
    color: var(--top-dark-color);
    padding: 0px;
    margin: 0px;
}

.topDarkTheme {
    background-color: var(--top-dark-color);
    color: #85a6d8;
    padding: 0px;
    margin: 0px;
}

.lightTheme {
    background-color: var(--light-color);
    color: var(--dark-color);
    margin: 0px;
    padding: 0px;
}

.lightTheme a {
    color: var(--dark-color);
}

.darkTheme {
    background-color: var(--dark-color);
    color: #bddaff;
    margin: 0px;
    padding: 0px;
}

.darkTheme a {
    color: #bddaff;
}

.changeThemeIcon {
    border-radius: 10px;
    padding: 10px;
    float: inline-end;
    border: none;
    background-color: #1b5fc5;

    margin: 25px 40px 0 0 ;
}

.logo {
    width: 60px;
    border-radius: 50%;

    margin: 10px 0 10px 20px;
}

.name {
    text-align: center;
    margin: 20px 0 0 0;
}

.options {
    text-align: center;
}


.ds {
    display: inline-block;
    border: solid 3px rgb(0, 0, 41);
    border-radius: 20px;
    width: 400px;
    text-align: center;
    margin: 15px;

    padding: 10px 20px 0 20px;
}

.ds h2 {
    font-size: 25px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
}

.ds p {
    font-size: 20px;
    margin-bottom: 10px;
}

.admin {
    display: inline-block;
    border: solid 3px rgb(0, 0, 41);
    border-radius: 20px;
    width: 400px;
    text-align: center;
    margin: 15px;

    padding: 10px 20px 0 20px;
}

.admin h2 {
    font-size: 25px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
}

.admin p {
    font-size: 20px;
    margin-bottom: 10px;
}

.financas {
    display: inline-block;
    border: solid 3px rgb(0, 0, 41);
    border-radius: 20px;
    width: 400px;
    text-align: center;
    margin: 15px;

    padding: 10px 20px 0 20px;
}

.financas button {
    font-size: 25px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
}

.financas p {
    font-size: 20px;
    margin-bottom: 10px;
}

.redes {
    display: inline-block;
    border: solid 3px rgb(0, 0, 41);
    border-radius: 20px;
    width: 400px;
    text-align: center;
    margin: 15px;

    padding: 10px 20px 0 20px;
}

.redes button {
    font-size: 25px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
}

.redes p {
    font-size: 20px;
    margin-bottom: 10px;
}

.warning {
    color: red;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.footer {
    background-color: var(--footer-color);
    color: #1b5fc5;
    margin: 100px 0 0 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer a {
    color:#cce5ff;
}

.footer div {
    margin: 20px;
}
.footerImg {
    display: inline-block;
    align-self: flex-start;
}

.footerLogo {
    width: 60px;
    border-radius: 50%;
}

.footerLinks {
    display: inline-block; 
}

.footer p {
    font-size: 25px;
}

.linkList{
    list-style-type: none;
    font: 20px;
}